@font-face {
    font-family: "BitByBit";
    src: url("./res/font/BitByBit_.eot");
    src: url("./res/font/BitByBit_.eot?#iefix") format("embedded-opentype"),
        url("./res/font/BitByBit_.woff2") format("woff2"),
        url("./res/font/BitByBit_.woff") format("woff"),
        url("./res/font/BitByBit_.ttf")  format("truetype"),
        url("./res/font/BitByBit_.svg#bitByBit_") format("svg");
}

body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh
}

p,
h1,
#vol-control {
    font-family: "BitByBit";
    /*color: #fff;  Text color */
    margin: 0;
    padding: 12px;
}

h1 {
    color: burlywood;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

p {
    font-size: 16px;
    color: burlywood;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#container {
    text-align: center;
    width: 100%;
    height: 100%;
}

#game {
    background-color: black;
    border: 8px solid black;
    border-radius: 4px;
    cursor: none;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("res/background/ai_generated_1.jpg") center/cover no-repeat;
}

#vol-control {
    position: relative;
    font-size: 16px;
    color: burlywood;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

input[type='checkbox'] { 
    accent-color: rgb(66, 66, 66); 
    border: solid 1px black;
}

input[type='range'] { 
    border: solid 1px black;
    accent-color: #deb887; 
}

#slider {
    background: linear-gradient(to right, #deb887 0%, #deb887 10%, #fff 10%, #fff 100%);
    border: solid 1px black;
    border-radius: 8px;
    height: 8px;
    width: 200px;
    outline: none;
    appearance: none;
}

#slider:focus {
    outline: none;
}